In [39]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

from math import e
def f(x):
    return (e**(x**2))

In [40]:
N=1000000
u=np.random.rand(N)
np.mean(f(u))

1.4620076043218724

In [41]:
def montecarlo (f,N,a,b):
    a=2
    b=2.1
    u=np.random.uniform(a,b,N)
    return np.mean(f(u))*(b-a)

In [42]:
import pandas as pd 
N=np.logspace(1,7,7)
table= pd.DataFrame(columns=["Aprox","Error"],index=N)
table

           Aprox Error
10.0         NaN   NaN
100.0        NaN   NaN
1000.0       NaN   NaN
10000.0      NaN   NaN
100000.0     NaN   NaN
1000000.0    NaN   NaN
10000000.0   NaN   NaN

In [43]:
for i in N:
    table.loc[i,"Aprox"]=montecarlo(f,int(i),0,1)
table

               Aprox Error
10.0        6.603193   NaN
100.0       6.823408   NaN
1000.0      6.714729   NaN
10000.0     6.724699   NaN
100000.0    6.733961   NaN
1000000.0   6.738659   NaN
10000000.0  6.738005   NaN

In [44]:
from math import e
def f(x):
    return 1/np.log(x)

In [45]:
N=1000000
u=np.random.rand(N)
np.mean(f(u))

-13.13479085223981

In [46]:
def monte (f,N,a,b):
    a=2
    b=2.1
    u=np.random.uniform(a,b,N)
    return np.mean(f(u))*(b-a)

In [47]:
import pandas as pd 
N=np.logspace(1,7,7)
table= pd.DataFrame(columns=["Aprox","Error"],index=N)
table

           Aprox Error
10.0         NaN   NaN
100.0        NaN   NaN
1000.0       NaN   NaN
10000.0      NaN   NaN
100000.0     NaN   NaN
1000000.0    NaN   NaN
10000000.0   NaN   NaN

In [48]:
for i in N:
    table.loc[i,"Aprox"]=monte(f,int(i),0,1)
table

               Aprox Error
10.0        0.138745   NaN
100.0       0.139587   NaN
1000.0      0.139376   NaN
10000.0     0.139386   NaN
100000.0    0.139388   NaN
1000000.0   0.139379   NaN
10000000.0  0.139379   NaN

In [49]:
from math import e
def f(x):
    return (np.sin(x))/x

In [50]:
N=1000000
u=np.random.rand(N)
np.mean(f(u))

0.946077209129259

In [51]:
def mont (f,N,a,b):
    a=2
    b=2.1
    u=np.random.uniform(a,b,N)
    return np.mean(f(u))*(b-a)

In [52]:
import pandas as pd 
N=np.logspace(1,7,7)
table= pd.DataFrame(columns=["Aprox","Error"],index=N)
table

           Aprox Error
10.0         NaN   NaN
100.0        NaN   NaN
1000.0       NaN   NaN
10000.0      NaN   NaN
100000.0     NaN   NaN
1000000.0    NaN   NaN
10000000.0   NaN   NaN

In [53]:
for i in N:
    table.loc[i,"Aprox"]=mont(f,int(i),0,1)
table

               Aprox Error
10.0        0.043062   NaN
100.0       0.043369   NaN
1000.0      0.043267   NaN
10000.0     0.043292   NaN
100000.0    0.043284   NaN
1000000.0   0.043287   NaN
10000000.0  0.043285   NaN